.popup
  width 100%
  height 100%
  background: rgba(0, 0, 0, 0.3)
  position fixed
  z-index 10000
  .dialog
    position relative
    width 500px
    height auto
    left 50%
    top 50%
    background #ffffff
    border-radius 5px
    transform translate(-50%, -50%)
    padding 20px
    box-shadow 2px 1px 1px #eee
  .title
    margin-bottom 20px
  .btn
    text-align center
    margin-top 20px
    button
      width 200px
      text-align center
      border none
      background #ccc
      line-height 40px
      cursor pointer
      &:last-child
        background #00b7a3
        color #fff